<div style="height: 5000px;">
    small:
    <div style="width: 150px; height: 100px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    medium:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    big:
    <div style="width: 1600px; height: 900px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    empty:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel></hammerjs-carousel>
    </div>
</div>