<div style="height: 5000px;">
    extra small:
    <div style="width: 150px; height: 100px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    small:
    <div style="width: 300px; height: 200px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    medium:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    big:
    <div style="width: 1600px; height: 900px;">
        <hammerjs-carousel [slides]="slides"></hammerjs-carousel>
    </div>

    one slide:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel [slides]="oneSlide"></hammerjs-carousel>
    </div>

    many slides:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel [slides]="manySlides"></hammerjs-carousel>
    </div>

    many slides in small size:
    <div style="width: 300px; height: 200px;">
        <hammerjs-carousel [slides]="manySlides"></hammerjs-carousel>
    </div>

    many slides in extra small size:
    <div style="width: 150px; height: 100px;">
        <hammerjs-carousel [slides]="manySlides"></hammerjs-carousel>
    </div>

    no slides:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel></hammerjs-carousel>
    </div>

    empty array:
    <div style="width: 500px; height: 375px;">
        <hammerjs-carousel [slides]="empty"></hammerjs-carousel>
    </div>

</div>